body {
  background-color: linen;
}

.settings-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 1rem 2rem;
  justify-items: center;
  width: 75%;
  margin: 5% auto;
  font-family: monospace;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 2rem 2rem;
}